[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pypdf2 = "*"
pandas = "*"
spacy = "*"
matplotlib = "*"
redis = "*"
flask = "*"
flask-rq2 = "*"
gunicorn = "*"
rq-dashboard = "*"
simplejson = "*"

[requires]
python_version = "3.6"
